<body>
  <h1 class="banner">Stupid Coaching</h1>

<form class="control-form" action="/answer">
  <input type="text" name="ask" value="<%= params[:ask] %>">
  <input type="submit" value="Ask!">
</form>


